@use './utilities.scss' as u;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: u.$white;
    color: u.$black;
    h1{
        display: none;
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
}

.button-go-back{
    color: u.$white;
    height: 100%;
    display: inline-block;
    border-radius: .5em;
    transition: .2s;
    &:hover{
        background-color: u.$green-light;
        color: u.$black;
        transition: .2s;
    }
    svg{
        vertical-align: middle;
    }
}