@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$white: #F7F9Fd;
$black: #202124;
$black-light: #35363a;
$green: #1C7947;
$green-light: #249b5b;