@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$white: #FFFCFF;
$black-dark: #000000;
$black: #020202;
$black-light: #1b1b1b;
$green-dark: #156339;
$green: #1C7947;
$green-light: #249b5b;